html,
body{
    height: 100%;
    margin: 0;
}

body{
    font-size: 1.5rem;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 6fr;
}

.container > * {
    padding: 2vh;
}
/* Sidebar styling */
.sidebar {
    background-color: red;
    grid-column: 1;
    grid-row: 1 / -1;
    display: flex;
    flex-flow: column;
    position: sticky;
}

.sidebar-logo {
    display: flex;
    align-items: center;
    gap: 2vh;
    margin-bottom: 3vh;
    font-size: 2rem;
}

.logo {
    width: 8vh;
    height: 8vh;
    background-color: blanchedalmond;
}

.menu {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 3vh;
}

.menu-options {
    display: flex;
    flex-flow: row;
    gap: 2vh;
    align-items: center;
    padding: 1vh;
}

.menu-options:hover {
    background-color: rgb(255, 169, 169);
    cursor: pointer;
}

.icon {
    width: 5vh;
    height: 5vh;
    background-color: darkslateblue;
}
/* Header styling */
.header {
    background-color: aqua;
    grid-area: 0 / 1 / auto / -1 ;
    display: grid;
    grid-template-rows: 1fr;
}

.header-top {
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: auto 1fr auto auto auto auto;
    gap: 1vh;
    align-items: center;
}

.searchbar{
    border: 1px solid green;
    height: 5vh;
    width: auto;
}

.user-header {
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.greeting {
    display: flex;
    flex-flow: row;
}

.user-options {
    display: flex;
    flex-flow: row;
}

/* Content styling */
.content {
    padding: 5vh;
    background-color: bisque;
    display: grid;
    gap: 5vh;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 1fr 1fr;
    overflow: visible;
}



.tasks {
    padding: 2vh;
    background-color: chocolate;
    grid-row: 1 / -1;
}

.task-content {
    margin-top: 2vh;
    display: grid;
    gap: 3vh;
    grid-template-columns: repeat(auto-fill, minmax(50vh, 1fr));
    grid-template-rows: auto;
    justify-items: center;
}

.task-card {
    background-color: blueviolet;
    width: 40vh;
    height: 20vh;
}

.task .name {
    position: absolute;
}

.notification {
    background-color: cornflowerblue;
}

.trending {
    background-color: wheat;
}